In [2]:
#importing all necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Question 1: The answer is A.extend(B) ==> E

In [5]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [8]:
A.append(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34, [13, 21, 34], [13, 21, 34]]

### Question 2: np.identity(3) ==> B

In [10]:
#creating an identity matrix (3X3)
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [12]:
#loading the data from csv file path
fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv', error_bad_lines=False)
fuel_data.head(1)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.59,18.59,18.53,1.121

### Question 5: Feature: fuel_unit, Total:180, Percent:0.610 to 3d.p

The feature that has missing values is 'fuel_unit' and it has 180 missing values. Percentage missing is 0.610% to 3d.p.

In [13]:
#find and sum up null values in all columns
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [21]:
#total number of missing values in fuel_unit
M1 = fuel_data.isnull().sum().sum()
M1

180

In [41]:
#finding the most frequent value in fuel_unit
fuel_data[['fuel_unit']].value_counts().idxmax()

('mcf',)

In [42]:
#replace null with most frequent value
fuel_data[['fuel_unit']]=fuel_data[['fuel_unit']].fillna(value='mcf')

In [43]:
#total number of rows in the fuel_unit column of data set
T1 = fuel_data[['fuel_unit']].count()
T1

fuel_unit    29523
dtype: int64

In [44]:
#percent missing 
M_percent = ((M1 / T1) * 100) 
M_percent

fuel_unit    0.609694
dtype: float64

### Question 6: ==> D

The feature with missing values falls under the 'categorical feature' category i.e contains categorical strings and the 'mode imputation' missing value imputation technique should be used i.e most frequent value.

### Question 3: ==> E

To get the fuel type code has the lowest average fuel cost per unit burned, we have the group the data by fuel type code and find the required average(mean) along the fuel cost per unit burned column.

Thus, fuel type 'gas' has the lowest average fuel cost per unit burned which is 13.66 to 2d.p.

In [51]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 4: ==> B

The standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) can be obtained by applying the describe() function to the (Fuel_mmbtu_per_unit) column get the std and 75th percentile.

The std is 10.60 and 75th percentile is 17.01 to 2 d.p.

In [52]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

### Question 7: ==> C

The skewness is 15.85 and kurtosis is 651.37  for the fuel quantity burned in two decimal places.

In [57]:
#find skewness of fuel quantity column
fuel_data[['fuel_qty_burned']].skew()

fuel_qty_burned    15.851495
dtype: float64

In [54]:
#find kurtosis of fuel quantity column
fuel_data[['fuel_qty_burned']].kurt()

fuel_qty_burned    651.36945
dtype: float64

### Question 8: ==> B

The features that have the second and third lowest correlation with the Fuel Cost Per Unit Burned are 'fuel_mmbtu_per_unit' and 'fuel_cost_per_unit_delivered'

In [65]:
#find correlation of the data set. 
Corr = fuel_data.corr()
Corr

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [67]:
#find absolute correlation with fuel_cost_per_unit_burned and arrange in order.
Corr.abs().fuel_cost_per_unit_burned.sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 9:  ==> C

For the fuel type coal, the percentage change in the fuel cost per unit burned in 1998 compared to 1994 is -21%

In [70]:
#grouping the data by fuel type coal and report year to view the totals in the fuel cost per unit burned column
fuel_data.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].sum()

fuel_type_code_pudl  report_year
coal                 1994           14984.572
                     1995           14571.785
                     1996           12694.803
                     1997           43742.178
                     1998           11902.597
                                      ...
waste                2014             591.594
                     2015             629.270
                     2016             539.079
                     2017             452.079
                     2018             660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

The percentage change in fuel cost per unit burned for type coal in 1998 (W2) compared to 1994 (W1) is given by -21%

In [72]:
#calculating percentage change
W1 = 14984.572
W2 = 11902.597
Change_in_W = ((W2 - W1) / W1) * 100
Change_in_W

-20.567654518260518

### Question 10: ==> E

The year that has the highest average fuel cost per unit delivered is 1997 having 11140.20 as average fuel cost per unit delivered

In [77]:
#calculating average fuel_cost_per_unit_delivered for each year and ordering the result.
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64