In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
fuel_data=pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv', error_bad_lines=False)

In [6]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [35]:
fuel_data.isnull().sum().sum()

0

In [8]:
fuel_data[['fuel_unit']]=fuel_data[['fuel_unit']].fillna(value='mcf')

In [10]:
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [36]:
D=fuel_data[['fuel_unit']].count()
D

fuel_unit    29523
dtype: int64

In [39]:
Missing= (180/D)*100
Missing

fuel_unit    0.609694
dtype: float64

In [20]:
Grp=fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned']
for name, group in Grp:
    print (name)
    print (group)
    print()

coal
0        18.590
1        18.580
2        39.720
3        47.210
5        44.240
          ...
29503    26.775
29510    14.760
29516    14.760
29517    13.690
29521     3.060
Name: fuel_cost_per_unit_burned, Length: 8547, dtype: float64

gas
4        2.77
10       1.94
12       1.94
28       2.49
30       2.69
         ...
29515    8.33
29518    4.78
29519    3.65
29520    4.77
29522    0.00
Name: fuel_cost_per_unit_burned, Length: 11486, dtype: float64

nuclear
6           28.770
45       40803.000
52          44.000
53          41.310
54          37.510
           ...
29177        0.000
29187        0.000
29318        0.606
29390       49.494
29395       51.175
Name: fuel_cost_per_unit_burned, Length: 818, dtype: float64

oil
14        32.130
19        33.321
21        30.319
23        32.184
25        32.186
          ...
29502     88.553
29505    101.330
29506     95.530
29507     98.180
29514      0.000
Name: fuel_cost_per_unit_burned, Length: 8064, dtype: float64

other
84       14.685
203      14.685
228      14.685
277       0.044
349       0.530
          ...
23961     0.584
24011    49.320
25040     0.661
25831     0.595
27065     0.609
Name: fuel_cost_per_unit_burned, Length: 167, dtype: float64

waste
49        34.180
230       25.190
431        9.325
433        6.682
434      -35.100
          ...
29172     13.664
29191    103.568
29192    132.291
29416     38.000
29477     22.113
Name: fuel_cost_per_unit_burned, Length: 441, dtype: float64

In [30]:
A=Grp.sum()
A.head()

fuel_type_code_pudl
coal        576254.381
gas         156891.829
nuclear    4053318.428
oil        1361824.819
other         3048.394
Name: fuel_cost_per_unit_burned, dtype: float64

In [32]:
B=Grp.count()
B

fuel_type_code_pudl
coal        8547
gas        11486
nuclear      818
oil         8064
other        167
waste        441
Name: fuel_cost_per_unit_burned, dtype: int64

In [34]:
C= A/B
C

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [24]:
Q4=fuel_data[['fuel_mmbtu_per_unit']]
Q4.describe()

       fuel_mmbtu_per_unit
count         29523.000000
mean              8.492111
std              10.600220
min               0.000001
25%               1.024000
50%               5.762694
75%              17.006000
max             341.260000

## Question 5

In [27]:
Q5=fuel_data[['fuel_qty_burned']]
Q5.kurt(axis=0)

fuel_qty_burned    651.36945
dtype: float64

In [29]:
Q5.skew(axis=0, skipna=True)

fuel_qty_burned    15.851495
dtype: float64

In [46]:
Grp3=fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered']
for name, group in Grp3:
    print(name)
    print(group.sum())
    print()

1994
78590.534

1995
39315.058

1996
10006016.070999997

1997
12187375.780000001

1998
317879.9429999999

1999
26829.208000000002

2000
1352903.2300000002

2001
81428.337

2002
57351.204999999994

2003
67408.49

2004
166312.93600000002

2005
52585.056000000004

2006
48051.253

2007
54762.829

2008
71946.30599999998

2009
797592.2670000001

2010
115838.11499999999

2011
74120.587

2012
75816.166

2013
206596.802

2014
225695.24100000004

2015
356903.31299999997

2016
107434.421

2017
45873.483

2018
474805.73799999995

In [55]:
Sum3=Grp3.count()
Sum3.head()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
Name: fuel_cost_per_unit_delivered, dtype: int64

In [56]:
Av_Fcost=(Grp3.sum())/Sum3
Av_Fcost.head()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
Name: fuel_cost_per_unit_delivered, dtype: float64

In [54]:
Av_Fcost.max()

11140.19723948813

The year having the highest average fuel cost per unit delivered is 1997:

In [66]:
Coal= fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned']
Coal.head()

0         18.590
1         18.580
2         39.720
3         47.210
4          2.770
5         44.240
6         28.770
10         1.940
12         1.940
14        32.130
19        33.321
21        30.319
23        32.184
25        32.186
28         2.490
30         2.690
45     40803.000
49        34.180
52        44.000
53        41.310
54        37.510
84        14.685
203       14.685
228       14.685
230       25.190
277        0.044
349        0.530
431        9.325
433        6.682
434      -35.100
Name: fuel_cost_per_unit_burned, dtype: float64

In [65]:
CoalYr=fuel_data.groupby()

                     report_year  fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                        8547                       8547
gas                        11486                      11486
nuclear                      818                        818
oil                         8064                       8064
other                        167                        167
waste                        441                        441